<div class="controller-container" ng-controller="CommaController">
	<div class="top-container">
		<h1>{{title}}</h1>
		<h4>{{subheading}}</h4>
	</div>
	<hr>
	<div class="content-container panel panel-primary">
		<div class="panel-heading">Check comma</div>
		<div class="panel-body">
			<input class="form-control" type="text" id="grammarinput" type="textarea" placeholder="Your text" ng-model="grammar.input"/>
			<div class=""></div>
			<input type="submit" class="btn btn-primary" value="Submit"/>
		</div>
	</div>
</div>